@import "reset";

$blue-dark: #122ab2;
$blue-light: #2c70ff;
$light: #fff;
$dark: #7c7c7c;
$dark-01: #f1f1f1;

$purple: #ae81ff;
$pink: #f9265e;
$blue: #66d9eb;

// superinfo-bg
.superinfo-bg {
  background-color: $blue-dark;
  color: $light;
  a {
    color: $light;
  }
}

.superinfo {
  max-width: 960px;
  margin: 0 auto;
  padding-top: 10px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  p,
  a {
    margin: 0 10px 10px 10px;
  }
}

// MENU
.menu-bg {
  background-color: $blue-light;
}

.menu {
  max-width: 960px;
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  a {
    color: $light;
  }
}

.menu-logo a {
  font-size: 2.25em;
  font-weight: bold;
  margin: 0 10px;
}

.menu-nav {
  ul {
    display: flex;
    flex-wrap: wrap;
  }
  a {
    display: block;
    padding: 10px;
    font-size: 1.25em;
  }
  a:hover {
    text-decoration: underline;
  }
}

.introducao {
  font-size: 3em;
  line-height: 1;
  max-width: 960px;
  margin: 60px auto;
  padding: 60px 10px;
}

// Sobre

.sobre {
  border-top: 2px solid $blue-light;
  border-bottom: 2px solid $blue-light;
  max-width: 960px;
  margin: 0 auto;
  padding: 60px 0;

  display: flex;
  flex-wrap: wrap;

  > .sobre-info {
    flex: 2 1 300px; // grow shirink(1 defaul) basis(0 default)
    margin: 0 10px;
  }
}

.sobre-info {
  h1 {
    font-size: 3em;
    margin-bottom: 0.5em;
  }
  p {
    font-size: 1.25em;
    line-height: 1.4;
    margin-bottom: 1em;
    color: $dark;
  }
}

.sobre-img {
  flex: 1 1 160px;
  margin: 0 10px;
}

.produtos {
  max-width: 960px;
  margin: 60px auto;

  h1 {
    font-size: 3em;
    margin: 0 10px 60px 10px;
  }
}

.produtos-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.produtos-item {
  flex: 1 1 175px;
  margin: 10px;

  h2 {
    font-size: 3em;
    background-color: $dark-01;
    color: $dark;
    padding: 60px 20px;
  }
}

.purple {
  border-top: 8px solid $purple;
}

.pink {
  border-top: 8px solid $pink;
}

.blue {
  border-top: 8px solid $blue;
}
