@import "reset";

// superinfo-bg
.superinfo-bg {
  background-color: #122ab2;
  color: #ffffff;
  a {
    color: #ffffff;
  }
}

.superinfo {
  max-width: 960px;
  margin: 0 auto;
  padding-top: 10px;

  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  p,
  a {
    margin: 0 10px 10px 10px;
  }
}
